@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Inter";
  src: url("/src/assets/fonts/inter.ttf")
}

@layer components {
  .btn {
    @apply
      flex items-center gap-x-1 p-1 rounded
      text-sm
      hover:bg-gray-100 hover:dark:bg-gray-700
      disabled:text-gray-400 disabled:dark:text-gray-600
      active:translate-y-0.5
  }
}